{% load i18n upload_tags %}
<script type="text/javascript">
var no_file_op_popup = true;
var popup_tr;

// hide 'hidden-op' popup
$(document).click(function(e) {
    var target =  e.target || event.srcElement;
    if (!no_file_op_popup &&
        !$('.more-op-icon, .hidden-op').is(target) &&
        !$('.hidden-op').find('*').is(target)) {
        $('.hidden-op').addClass('hide');
        no_file_op_popup = true;
        if (!popup_tr.find('*').is(target)) {
            popup_tr.removeClass('hl').find('.repo-file-op').addClass('vh'); // clicked place: the first tr, place out of the table
            $('.repo-file-list tr:gt(0)').each(function() { // when other tr is clicked
                if ($(this).find('*').is(target)) {
                    $(this).addClass('hl').find('.repo-file-op').removeClass('vh');
                }
            });
        }
    }
});

$(window).scroll(function() {
    if ($('#repo-file-list').is(':visible')) {
        app.libview.onWindowScroll();
    }
});

function ajaxPost(params) { // params: {}
    var form = params.form,
        post_url = params.post_url,
        post_data = params.post_data,
        after_op_success = params.after_op_success,
        form_id = params.form_id;
    var submit_btn = form.children('[type="submit"]');
    disable(submit_btn);
    $.ajax({
        url: post_url,
        type: 'POST',
        dataType: 'json',
        beforeSend: prepareCSRFToken,
        data: post_data,
        success: function(data) {
            if (data['success']) {
                after_op_success(data);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            var err;
            if (xhr.responseText) {
                err = $.parseJSON(xhr.responseText).error;
            } else {
                err = "{% trans "Failed. Please check the network." %}";
            }
            apply_form_error(form_id, err);
            enable(submit_btn);
        }
    });
}

// render jstree for current path
function render_jstree_for_cur_path() {
    var form = $('#mv-form'),
        file_tree = new FileTree(),
        container = $('#current-repo-dirs'),
        loading_tip = container.prev();

    var dirents = app.libdirents,
        repo_id = dirents.repo_id,
        repo_name = dirents.repo_name,
        cur_path = dirents.path;
    if (cur_path != '/') {
        cur_path += '/';
    }
    container.data('site_root', '{{SITE_ROOT}}');
    $.ajax({
        url: app.utils.getUrl({name: 'get_dirents', repo_id: repo_id}) + '?path=' + e(cur_path) + '&dir_only=true&all_dir=true',
        cache: false,
        dataType: 'json',
        success: function(data) {
            var json_data = [];
            var repo_data = {
                'data': repo_name,
                'attr': {'repo_id': repo_id, 'root_node': true},
                'state': 'open'
            };

            var path_eles = cur_path.split('/');
            path_eles.pop();
            /* e.g.
             * path: '/xx/'
             * path_eles: ['', 'xx']
             * data: [["xxx", "xx", "test1022"], ["lkjj", "kjhkhi"]]
             * when no dir in '/', data will be [[]];
             */
            var len = data.length;
            var children = [];
            for (var i = len - 1; i > -1; i--) {
                children[i] = [];
                if (i == len - 1) {
                    for (var j = 0, len_i = data[i].length; j < len_i; j++) {
                        children[i].push({
                            'data': data[i][j],
                            'state': 'closed'
                        });
                    }
                } else {
                    for (var j = 0, len_i = data[i].length; j < len_i; j++) {
                        if (data[i][j] == path_eles[i+1]) {
                            children[i].push({
                                'data': data[i][j],
                                'state': 'open',
                                'children': children[i+1]
                            });
                        } else {
                            children[i].push({
                                'data': data[i][j],
                                'state': 'closed'
                            });
                        }
                    }
                }
            }
            if (children[0].length > 0) {
                $.extend(repo_data, {'children': children[0]});
            }
            json_data.push(repo_data);

            loading_tip.hide();
            file_tree.renderDirTree(container, form, json_data);
            container.removeClass('hide');
        },
        error: function() {
            var cur_repo = [{
                'data': repo_name,
                'attr': {'repo_id': repo_id, 'root_node': true},
                'state': 'closed'
            }];
            loading_tip.hide();
            file_tree.renderDirTree(container, form, cur_repo);
            container.removeClass('hide');
        }
    });
}
$('#mv-form').submit(function() {
    var dirents = app.libdirents;
    var form = $(this),
        form_id = form.attr('id'),
        post_url = '',
        post_data = {},
        path = dirents.path,
        repo_id = dirents.repo_id,
        after_op_success;

        var dst_repo = $('[name="dst_repo"]', form).val(),
            dst_path = $('[name="dst_path"]', form).val(),
            op = $('[name="op"]', form).val(),
            obj_name = $('[name="obj_name"]', form).val(),
            obj_type = $('[name="obj_type"]', form).val(),
            op_obj = form.data('op_obj');

        if (!op_obj) { // for mv-dirents, cp-dirents
            return false;
        }

        if (!$.trim(dst_repo) || !$.trim(dst_path)) {
            $('.error', form).removeClass('hide');
            return false;
        }
        if (dst_repo == repo_id && (dst_path == path || (obj_type == 'dir' && dst_path == path + obj_name + '/'))) {
            $('.error', form).html("{% trans "Invalid destination path" %}").removeClass('hide');
            return false;
        }
        var url_obj = {repo_id: repo_id};
        if (obj_type == 'dir') {
            url_obj.name = op == 'mv' ? 'mv_dir' : 'cp_dir';
        } else {
            url_obj.name = op == 'mv' ? 'mv_file' : 'cp_file';
        }
        post_url = app.utils.getUrl(url_obj) + '?path=' + e(path) + '&obj_name=' + e(obj_name);
        post_data = {
            'dst_repo': dst_repo,
            'dst_path': dst_path
        };
        after_op_success = function(data) {
            $.modal.close();
            msg = data['msg'];
            if (!data['task_id']) { // no progress
                if (op=='mv') {
                    op_obj.remove();
                }
                feedback(msg, 'success');
            } else {
                var details = $('#mv-details'),
                    cancel_btn = $('#cancel-mv'),
                    other_info = $('#mv-other-info');
                cancel_btn.removeClass('hide');
                setTimeout(function () {
                    $('#mv-progress-popup').modal({containerCss: {
                        width: 300,
                        height: 150,
                        paddingTop: 50
                    }, focus:false});
                    var det_text = op == 'mv' ? "{% trans "Moving %(name)s" %}": "{% trans "Copying %(name)s" %}";
                    details.html(det_text.replace('%(name)s', trimFilename(obj_name, 20)));
                    $('#mv-progress').progressbar();
                    req_progress();
                }, 100);
                var req_progress = function () {
                    $.ajax({
                        url: '{% url "get_cp_progress" %}?task_id=' + e(data['task_id']),
                        dataType: 'json',
                        success: function(data) {
                            var bar = $('.ui-progressbar-value', $('#mv-progress'));
                            if (!data['failed'] && !data['canceled'] && !data['successful']) {
                                if (data['done'] == data['total']) {
                                    bar.css('width', '100%'); // 'done' and 'total' can be both 0
                                    details.addClass('vh');
                                    cancel_btn.addClass('hide');
                                    other_info.html("{% trans "Saving..." %}").removeClass('hide');
                                } else {
                                    bar.css('width', parseInt(data['done']/data['total']*100, 10) + '%');
                                }
                                bar.show();
                                setTimeout(req_progress, 1000);
                            } else if (data['successful']) {
                                $.modal.close();
                                if (op=='mv') {
                                    op_obj.remove();
                                }
                                feedback(msg, 'success');
                            } else { // failed or canceled
                                details.addClass('vh');
                                var other_msg = data['failed'] ? "{% trans "Failed." %}" : "{% trans "Canceled." %}";
                                other_info.html(other_msg).removeClass('hide');
                                cancel_btn.addClass('hide');
                                setTimeout(function () { $.modal.close(); }, 1000);
                            }
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            var error;
                            if (xhr.responseText) {
                                error = $.parseJSON(xhr.responseText).error;
                            } else {
                                error = "{% trans "Failed. Please check the network." %}";
                            }
                            details.addClass('vh')
                            other_info.html(error).removeClass('hide');
                            cancel_btn.addClass('hide');
                            setTimeout(function () { $.modal.close(); }, 1000);
                        }
                    });
                };
                cancel_btn.click(function() {
                    disable(cancel_btn);
                    $.ajax({
                        url: '{% url "cancel_cp" %}?task_id=' + e(data['task_id']),
                        dataType: 'json',
                        success: function(data) {
                            details.addClass('vh')
                            other_info.html("{% trans "Canceled." %}").removeClass('hide');
                            cancel_btn.addClass('hide');
                            setTimeout(function () {$.modal.close();}, 1000);
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            var error;
                            if (xhr.responseText) {
                                error = $.parseJSON(xhr.responseText).error;
                            } else {
                                error = "{% trans "Failed. Please check the network." %}";
                            }
                            other_info.html(error).removeClass('hide');
                            enable(cancel_btn);
                        }
                    });
                });
            }
        }

    ajaxPost({
        'form': form,
        'post_url': post_url,
        'post_data': post_data,
        'after_op_success': after_op_success,
        'form_id': form_id
    });
    return false;
});
$('#mv-dir-list .hd').click(function() {
    var span = $('span', $(this)),
        form = $('#mv-form'),
        loading_tip = $(this).next(),
        dir_tree_container = loading_tip.next().data('site_root', '{{SITE_ROOT}}'),
        file_tree = new FileTree();
    if (span.hasClass('icon-caret-right')) {
        span.attr('class','icon-caret-down');
        loading_tip.show();
        if (dir_tree_container.attr('id') == 'current-repo-dirs') {
            render_jstree_for_cur_path();
        } else {
            $.ajax({
                url: '{% url 'unenc_rw_repos' %}',
                cache: false,
                dataType: 'json',
                success: function(data) {
                    var other_repos = [];
                    var cur_repo_id = app.libdirents.repo_id;
                    for (var i = 0, len = data.length; i < len; i++) {
                        if (data[i].id != cur_repo_id) {
                            other_repos.push({
                                'data': data[i].name,
                                'attr': {'repo_id': data[i].id, 'root_node': true},
                                'state': 'closed'
                            });
                        }
                    }
                    loading_tip.hide();
                    file_tree.renderDirTree(dir_tree_container, form, other_repos);
                    dir_tree_container.removeClass('hide');
                }
            });
        }
    } else {
        span.attr('class','icon-caret-right');
        dir_tree_container.addClass('hide');
    }
});
</script>
{% upload_js %}
<script type="text/javascript">
window.locale = {
    "fileupload": {
        "errors": {
            "maxFileSize": "{% trans "File is too big" %}",
            "minFileSize": "{% trans "File is too small" %}",
            "acceptFileTypes": "{% trans "Filetype not allowed" %}",
            "maxNumberOfFiles": "{% trans "Max number of files exceeded" %}",
            "uploadedBytes": "{% trans "Uploaded bytes exceed file size" %}",
            "emptyResult": "{% trans "Empty file upload result" %}"
        },
        "error": "{% trans "Error" %}",
        "uploaded": "{% trans "uploaded" %}",
        "canceled": "{% trans "canceled" %}",
        "start": "{% trans "Start" %}",
        "cancel": "{% trans "Cancel" %}",
        "destroy": "{% trans "Delete" %}"
    }
};
$(function() {
    $.getScript('{{ MEDIA_URL }}js/jquery.fileupload.min.js', function () {
        var dirents = app.libdirents;
        var libview = app.libview;

        var popup = $('#upload-file-dialog').addClass('fixed-upload-file-dialog');;
        var popup_height = '200px';
        popup.css({'height': popup_height}).data('height', popup_height);

        var fu_status = $('.status', popup),
            total_progress = $('.total-progress', popup),
            cancel_all_btn = $('.fileupload-buttonbar .cancel', popup),
            close_icon = $('.close', popup),
            saving_tip = $('.saving-tip', popup);

        var fu_status_ = {
            'uploading': "{% trans "File Uploading..." %}",
            'complete': "{% trans "File Upload complete" %}",
            'canceled': "{% trans "File Upload canceled" %}",
            'failed': "{% trans "File Upload failed" %}"
        };

        var uploaded_files = [];
        {% if enable_upload_folder %}
        var new_dir_names = [];
        var dirs_to_update = [];
        {% endif %}

        var file_input;
        if (dirents.user_perm && dirents.user_perm == 'rw') {
            file_input = libview.$('#upload-file input');
        }
        popup.fileupload({
            fileInput: file_input, // initialize
            paramName: 'file',
            // customize it for 'done'
            getFilesFromResponse: function (data) {
                if (data.result) {
                    return data.result;
                }
            },
            autoUpload:true,
            {% if max_upload_file_size %}
            maxFileSize: {{ max_upload_file_size }}, // in bytes
            {% endif %}
            maxNumberOfFiles: 500,
            sequentialUploads: true
        })
        .bind('fileuploadadd', function(e, data) {
            // for drag & drop
            if (!$('#repo-file-list').is(':visible')) {
                return false;
            }
            if (dirents.user_perm && dirents.user_perm != 'rw') {
                return false;
            }

            popup.removeClass('hide');
            cancel_all_btn.removeClass('hide');
            close_icon.addClass('hide');

            var path = dirents.path;
            popup.fileupload('option', 'formData', {
                'parent_dir': path == '/' ? path : path + '/'
            });

            {% if enable_upload_folder %}
            // hide the upload menu
            var menu = libview.$('#upload-menu');
            if (!menu.hasClass('hide')) {
                menu.find('.item').removeAttr('style')
            .end().addClass('hide');
            }

            // when add folder, a subdirectory will be shown as '.'. rm it.
            var file = data.files[0];
            if (file.name == '.') {
                data.files.shift();
            }
            if (file.webkitRelativePath) { // for 'upload folder'
                file.relative_path = file.webkitRelativePath;
            }
            if (file.relativePath) { // for 'folder drag & drop'
                file.relative_path = file.relativePath + file.name;
            }
            {% endif %}
        })
        .bind('fileuploadstart', function() {
            fu_status.html(fu_status_.uploading);
        })
        .bind('fileuploadsubmit', function(e, data) {
            var _this = $(this);
            var file = data.files[0];
            // get url(token) for every file
            if (!file.error) {
                $.ajax({
                    url: app.utils.getUrl({name:'get_file_op_url', repo_id:dirents.repo_id}) + '?op_type=upload',
                    cache: false,
                    dataType: 'json',
                    success: function(ret) {
                        {% if enable_upload_folder %}
                        var file_path = file.relative_path,
                            r_path;
                        if (file_path) { // 'add folder'
                            r_path = file_path.substring(0, file_path.lastIndexOf('/') + 1);
                        }
                        var formData = popup.fileupload('option', 'formData');
                        formData.relative_path = r_path || '';
                        popup.fileupload('option', 'formData', formData);
                        {% endif %}

                        data.url = ret['url'];
                        data.jqXHR = _this.fileupload('send', data);
                    },
                    error: function() {
                        file.error = "{% trans "Failed to get upload url" %}";
                    }
                });
                return false;
            }
        })
        .bind('fileuploadprogressall', function (e, data) {
            total_progress.html(parseInt(data.loaded / data.total * 100, 10) + '% ' + '<span style="font-size:14px;color:#555;">(' + $(this).data('blueimp-fileupload')._formatBitrate(data.bitrate) + ')</span>').removeClass('hide');
            if (data.loaded > 0 && data.loaded == data.total) {
                saving_tip.show();
            }
        })
        .bind('fileuploaddone', function(e, data) {
            if (data.textStatus != 'success') {
                return;
            }
            var file = data.files[0];
            var file_path = file.relative_path;
            var file_uploaded = data.result[0]; // 'id', 'name', 'size'

            // for 'template_download' render
            file_uploaded.uploaded = true;
            if (file_path) {
                file_uploaded.relative_path = file_path.substring(0, file_path.lastIndexOf('/') + 1) + file_uploaded.name;
            }

            var path = dirents.path;
            path = path == '/' ? path : path + '/';
            if (data.formData.parent_dir != path) {
                return;
            }
            if (!file_path) {
                uploaded_files.push(file_uploaded);
                return;
            }
            {% if enable_upload_folder %}
            // for 'add folder'
            var dir_name = file_path.substring(0, file_path.indexOf('/'));
            var dir = dirents.where({'is_dir': true, 'obj_name': dir_name});
            if (dir.length > 0) { // 0 or 1
                if (dirs_to_update.indexOf(dir_name) == -1) {
                    dirs_to_update.push(dir_name);
                }
            } else {
                if (new_dir_names.indexOf(dir_name) == -1) {
                    new_dir_names.push(dir_name);
                }
            }
            {% endif %}
        })
        .bind('fileuploadstop', function () {
            cancel_all_btn.addClass('hide');
            close_icon.removeClass('hide');

            var path = dirents.path;
            path = path == '/' ? path : path + '/';
            if (popup.fileupload('option','formData').parent_dir != path) {
                return;
            }
            var now = parseInt(new Date().getTime()/1000);
            if (uploaded_files.length > 0) {
                var dirs = dirents.where({'is_dir':true});
                var last_dir = $($('.repo-file-list tr')[dirs.length]);
                $(uploaded_files).each(function(index, file) {
                    var new_dirent = dirents.add({
                        'is_file': true,
                        'obj_name': file.name,
                        'last_modified': now,
                        'file_size': filesizeformat(file.size, 1),
                        'obj_id': file.id,
                        'file_icon': 'file.png',
                        'last_update': "{% trans "Just now" %}",
                        'starred': false,
                        'sharelink': '',
                        'sharetoken': ''
                    }, {silent: true});
                    var view = new app.views.DirentView({model: new_dirent, collection: dirents});
                    last_dir.after(view.render().el);
                });
                uploaded_files = [];
            }
            if (new_dir_names.length > 0) {
                $(new_dir_names).each(function(index, new_name) {
                    var new_dirent = dirents.add({
                        'is_dir': true,
                        'obj_name': new_name,
                        'last_modified': now,
                        'last_update': "{% trans "Just now" %}",
                        'p_dpath': path + new_name,
                        'sharelink': '',
                        'sharetoken': '',
                        'uploadlink': '',
                        'uploadtoken': ''
                    }, {silent: true});
                    var view = new app.views.DirentView({model: new_dirent, collection: dirents});
                    $('.repo-file-list tr:first').after(view.render().el);
                });
                new_dir_names = [];
            }
            if (dirs_to_update.length > 0) {
                $(dirs_to_update).each(function(index, dir_name) {
                    var dir = dirents.where({'is_dir':true, 'obj_name':dir_name});
                    dir[0].set({
                        'last_modified': now,
                        'last_update': "{% trans "Just now" %}"
                    });
                });
                dirs_to_update = [];
            }
        })
        // after tpl has rendered
        .bind('fileuploadcompleted', function() { // 'done'
            if ($('.files .cancel', popup).length == 0) {
                saving_tip.hide();
                total_progress.addClass('hide');
                fu_status.html(fu_status_.complete);
            }
        })
        .bind('fileuploadfailed', function(e, data) { // 'fail'
            if ($('.files .cancel', popup).length == 0) {
                cancel_all_btn.addClass('hide');
                close_icon.removeClass('hide');
                total_progress.addClass('hide');
                saving_tip.hide();
                if (data.errorThrown == 'abort') { // 'cancel'
                    fu_status.html(fu_status_.canceled);
                } else { // 'error'
                    fu_status.html(fu_status_.failed);
                }
            }
        });

        // Enable iframe cross-domain access via redirect option:
        popup.fileupload(
            'option',
            'redirect',
            window.location.href.replace(/\/repo\/[-a-z0-9]{36}\/.*/, '{{MEDIA_URL}}cors/result.html?%s')
        );

        {% if enable_upload_folder %}
        var upload_btn = libview.$('#upload-file'),
            upload_menu = libview.$('#upload-menu');
        if (dirents.user_perm && dirents.user_perm == 'rw' &&
                'webkitdirectory' in $('input[type="file"]', upload_btn)[0]) {
            upload_btn.find('input').remove().end().addClass('cspt');
            $('.item', upload_menu).click(function() {
                popup.fileupload(
                    'option',
                    'fileInput',
                    $('input[type="file"]', $(this))
                );
            })
            .hover(
                function() {
                    $(this).css({'background':'#f3f3f3'});
                },
                function() {
                    $(this).css({'background':'transparent'});
                }
            );
            libview.$('.repo-op').css({'position': 'relative'});
            upload_btn.click(function () {
                upload_menu.toggleClass('hide');
            });
        }
        {% endif %}
    });
});

$(document).click(function(e) {
    var target = e.target || event.srcElement;
    var closePopup = function(popup, popup_switch) {
        if (!popup.hasClass('hide') && !popup.is(target) && !popup.find('*').is(target) && !popup_switch.is(target) && !popup_switch.find('*').is(target) ) {
            popup.addClass('hide');
        }
    };
    var libview = app.libview;
    closePopup(libview.$('#upload-menu'), libview.$('#upload-file'));
});


// fold/unfold the dialog
$('#upload-file-dialog .fold-switch').click(function() {
    var popup = $('#upload-file-dialog');
    var full_ht = parseInt(popup.data('height'));
    var main_con = $('.fileupload-buttonbar, .table', popup);
    if (popup.height() == full_ht) {
        popup.height($('.hd', popup).outerHeight(true));
        main_con.addClass('hide');
    } else {
        popup.height(full_ht);
        main_con.removeClass('hide');
    }
});
$('#upload-file-dialog .close').click(function() {
    $('#upload-file-dialog').addClass('hide');
    $('#upload-file-dialog .files').empty();
});

$(function() {
    // for file private share
    $.getScript('{{ MEDIA_URL }}js/select2.min.js');
});
{% include "snippets/shared_link_js.html" %}
</script>
