{% extends "myhome_base.html" %}

{% load seahub_tags avatar_tags i18n upload_tags %}

{% block sub_title %}{{repo.name}} - {% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/select2.css?t=1393578720" />
<style type="text/css">
#footer { display:none; }
.repo-file-list-topbar .path { line-height:29px; }
#repo-latest-commit { margin:-5px 0 10px; }
.repo-op { margin-bottom:0; }
.repo-op .op-btn { padding:5px 8px; }
.dirent-op .download { margin-right:5px; }
.repo-file-list .dirent-name {
    width:350px;
}
.repo-file-list .dirent-size {
    width:135px;
}
.repo-file-list .dirent-update {
    width:142px;
}
.repo-file-list .dirent-op {
    width:200px;
}
</style>    
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="{{ MEDIA_URL}}js/html5shiv.js"></script><![endif]-->
{% endblock %}

{% block main_panel %}
    <div id="repo-top">
        <h2 class="hd">{{repo.props.name}}{% if user_perm == 'r' %} <span class="tip vam">({% trans "Read-Only" %})</span>{% endif %}</h2>
            <div id="repo-basic-info">
                <span class="desc" title="{{repo.props.desc}}">{{ repo.props.desc|truncatechars:25 }}</span>
                <span class="size split">{% trans 'Size: ' %}{{ repo_size|filesizeformat }}</span>
                <span class="split">
                    <a href="{% url 'seahub.views.repo_history' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/history.png" alt="" height="16" /><span class="vam">{% trans "History"%}</span></a>
                    {% if show_repo_settings %}
                    <a id="repo-setting-btn" href="{% url 'repo_settings' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/setting.png" alt="" /><span class="vam">{% trans "Settings" %}</span></a>
                    {% endif %}
                    {% if user_perm == 'rw' %}
                    <a id="recycle-btn" href="{% url 'repo_recycle_view' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/lib_trash.png" alt="" /><span class="vam">{% trans "Trash"%}</span></a>
                    {% endif %}
                </span>
            </div>
    </div>

    <div id="repo-file-list">
        <div class="repo-file-list-topbar">
            <p class="path fleft">
            <a href="{% url 'lib' repo.id '' %}" class="path-link normal">{{ repo.name }}</a> /
            </p>
            <div class="repo-op fright">
                {% if user_perm == 'rw' %}
                    {% if no_quota %}
                <button id="upload-file" class="op-btn">{% trans "Upload" %}</button>
                    {% else %}
                <div id="upload-file" class="op-btn upload-file-btn">
                    <span>{% trans "Upload"%}</span>
                    <input type="file" name="file" multiple />
                </div>
                {% if enable_upload_folder %}
                <ul id="upload-menu" class="hide">
                    <li class="item">
                    <span>{% trans "Upload Files" %}</span>
                    <input type="file" name="file" multiple />
                    </li>
                    <li class="item">
                    <span>{% trans "Upload Folder" %}</span>
                    <input type="file" name="file" multiple directory webkitdirectory />
                    </li>
                </ul>
                {% endif %}
                    {% endif %}
                <button id="add-new-dir" class="op-btn">{% trans "New Directory" %}</button>
                <button id="add-new-file" class="op-btn">{% trans "New File" %}</button>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <table class="repo-file-list">
            <tr>
                <th class="select">
                    <span class="checkbox"><input type="checkbox" class="checkbox-orig" /></span>
                </th>
                <th class="star"></th>
                <th class="dirent-icon"></th>
                <th><span class="dirent-name">{% trans "Name"%} <span id="by-name" class="icon-caret-up cspt"></span></span></th>
                <th class="dirent-size">{% trans "Size"%}</th>
                <th class="dirent-update">{% trans "Last Update" %} <span id="by-time" class="icon-caret-down cspt"></span></th>
                <th class="dirent-op">{% trans "Operations"%}</th>
            </tr>
        </table>
        <img class="loading-tip" src="{{MEDIA_URL}}img/loading-icon.gif" alt="{% trans 'Loading...' %}" />
        {% if user_perm == 'rw' %}
        <div id="dirents-op" class="hide"> {# should be in #repo-file-list #}
            <button id="del-dirents" title="{% trans "Delete" %}" class="op-icon-btn"><span class="icon-trash"></span></button>
            <button id="mv-dirents" title="{% trans "Move" %}" class="op-icon-btn"><span class="icon-move"></span></button>
            <button id="cp-dirents" title="{% trans "Copy" %}" class="op-icon-btn"><span class="icon-copy"></span></button>
        </div>
        {% endif %}
    </div>

    {# popups starts #}
    <div id="upload-file-dialog" class="hide">
        {% if no_quota %}
        <h3>{% trans "Upload Files" %}</h3>
        <p class="error">{% trans "The owner of this library has run out of space." %}</p>
        {% else %}
            <h3 class="hd"><span class="status">{% trans "File Upload" %}</span> <span class="total-progress hide"></span></h3>
            <div class="ops">
                <img src="{{MEDIA_URL}}img/minus.png" alt="" class="fold-switch cspt" />
                <img src="{{MEDIA_URL}}img/close.png" alt="close" title="{% trans "close" %}" class="close cspt hide" />
            </div>
            <div class="con">
                <div class="row fileupload-buttonbar">
                    <button type="button" class="cancel cspt fright">{% trans "Cancel All" %}</button>
                </div>
                <p class="saving-tip alc clear hide"><img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" style="margin-right:5px;" class="vam" />{% trans "Saving..." %}</p>
                <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
            </div>
        {% endif %}
    </div>

    <form id="add-new-dir-form" action="" method="post" class="hide">{% csrf_token %}
        <h3>{% trans "New Directory" %}</h3>
        <label>{% trans "Directory Name" %}</label><br />
        <input type="text" name="name" value="" class="input" maxlength="{{max_file_name}}"/><br />
        <p class="error hide"></p>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
        <button class="simplemodal-close">{% trans "Cancel" %}</button>
    </form>

    <form id="add-new-file-form" action="" method="post" class="hide">{% csrf_token %}
        <h3>{% trans "New File" %}</h3>
        <div id="featured-filetype">
            <label>{% trans "Featured File Type" %}</label><br />
            <button type="button" class="set-file-type" data-filetype="seaf" title="{% trans "Click to choose" %}">seaf</button> <span>{% trans "online Rich Text format." %}</span>
            {% if LANGUAGE_CODE == 'zh-cn' %}
            <a href="http://www.seafile.com/help/seaf/" target="_blank">{% trans 'Details' %}</a><br />
            {% else %}
            <a href="http://www.seafile.com/en/help/seaf/" target="_blank">{% trans 'Details' %}</a><br />
            {% endif %}
            <button type="button" class="set-file-type" data-filetype="md" title="{% trans "Click to choose" %}">markdown</button> <span>{% trans "simple markup format." %}</span>
            {% if LANGUAGE_CODE == 'zh-cn' %}
            <a href="http://www.seafile.com/help/markdown/" target="_blank">{% trans 'Details' %}</a>
            {% else %}
            <a href="http://www.seafile.com/en/help/markdown/" target="_blank">{% trans 'Details' %}</a>
            {% endif %}
        </div>
        <label>{% trans "File Name" %}</label><br/>
        <input type="text" name="name" value="" class="input" maxlength="{{max_file_name}}"/><br />
        <p class="error hide"></p>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
        <button class="simplemodal-close">{% trans "Cancel" %}</button>
    </form>

    {% include "snippets/file_share_popup.html" %} {# dir/file share popup, need ENABLE_SUB_LIBRARY #}

    <form id="rename-form" action="" method="post" class="hide">{% csrf_token %}
        <h3></h3>
        <p class="detail">{% trans "Rename %(name)s as:" %}</p>
        <input type="hidden" name="oldname" value="" />
        <input type="text" name="newname" value="" class="input" maxlength="{{max_file_name}}"/><br />
        <p class="error hide"></p>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
        <button class="simplemodal-close">{% trans "Cancel" %}</button>
    </form>

    <form id="mv-form" action="" method="post" class="file-choose-form hide">{% csrf_token %}
        <div id="mv-dir-list" class="dir-tree-cont">
            <h5 class="hd cspt"><span class="icon-caret-down"></span>{% trans "Current Library"%}</h5>
            <img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" class="loading-tip" />
            <div id="current-repo-dirs"></div>
            {% if not repo.encrypted %}
            <h5 class="hd cspt"><span class="icon-caret-right"></span>{% trans "Other Libraries"%}</h5>
            <img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" class="loading-tip" style="display:none;" />
            <div id="other-repos-dirs" class="hide"></div>
            {% endif %}
        </div>
        <input type="hidden" name="obj_name" value="" />
        <input type="hidden" name="obj_type" value="" />
        <input type="hidden" name="op" value="" />
        <input type="hidden" name="dst_repo" value="" />
        <input type="hidden" name="dst_path" value="" />
        <p class="error hide">{% trans "Please click and choose a directory."%}</p>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
        <button class="simplemodal-close">{% trans "Cancel"%}</button>
    </form>
    <div id="mv-progress-popup" class="alc hide">
        <p id="mv-details"></p>
        <div id="mv-progress"></div>
        <p id="mv-other-info" class="hide"></p>
        <button id="cancel-mv">{% trans "Cancel" %}</button>
    </div>

    <div id="update-file-dialog" class="hide">
        <h3 class="hd">{% trans "Update %(file_name)s" %}</h3>
        {% if no_quota %}
        <p class="error">{% trans "The owner of this library has run out of space." %}</p>
        {% else %}
        <form id="update-file-form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
            <input type="hidden" name="target_file" />
            <div class="fileupload-buttonbar">
                <span class="fileinput-button vam">
                    <span>{% trans "Choose a file" %}</span>
                    <input type="file" name="file" />
                </span>
                {% if max_upload_file_size %}
                <span class="vam">({% blocktrans with max_file_size=max_upload_file_size|filesizeformat %}Smaller than {{ max_file_size }}{% endblocktrans %})</span>
                {% endif %}
                <div class="fileupload-progress fade">
                    <div class="progress progress-success progres-striped active">
                        <div class="bar" style="width:0%"></div>
                    </div>
                    <div class="progress-extended"></div>
                </div>
                <p class="saving-tip alc hide"><img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" style="margin-right:5px;" class="vam" />{% trans "Saving..." %}</p>
            </div>
            <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
        </form>
        {% endif %}
    </div>

{% endblock %}

{% block extra_script %}
<!--script type="text/javascript" src="{{MEDIA_URL}}js/underscore-min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/backbone-min.js"></script-->
{% if not no_quota and user_perm == 'rw' %}
{% upload_js %}
<script type="text/javascript">
window.locale = {
    "fileupload": {
        "errors": {
            "maxFileSize": "{% trans "File is too big" %}",
            "minFileSize": "{% trans "File is too small" %}",
            "acceptFileTypes": "{% trans "Filetype not allowed" %}",
            "maxNumberOfFiles": "{% trans "Max number of files exceeded" %}",
            "uploadedBytes": "{% trans "Uploaded bytes exceed file size" %}",
            "emptyResult": "{% trans "Empty file upload result" %}"
        },
        "error": "{% trans "Error" %}",
        "uploaded": "{% trans "uploaded" %}",
        "canceled": "{% trans "canceled" %}",
        "start": "{% trans "Start" %}",
        "cancel": "{% trans "Cancel" %}",
        "destroy": "{% trans "Delete" %}"
    }
};
$(function() {
    $.getScript('{{ MEDIA_URL }}js/jquery.fileupload.min.js', function () {
        var dirents = app.pages.lib.dirents; 

        var popup = $('#upload-file-dialog').addClass('fixed-upload-file-dialog');;
        var popup_height = '200px';
        popup.css({'height': popup_height}).data('height', popup_height);

        var fu_status = $('.status', popup),
            total_progress = $('.total-progress', popup),
            cancel_all_btn = $('.fileupload-buttonbar .cancel', popup),
            close_icon = $('.close', popup),
            saving_tip = $('.saving-tip', popup);

        var fu_status_ = {
            'uploading': "{% trans "File Uploading..." %}",
            'complete': "{% trans "File Upload complete" %}",
            'canceled': "{% trans "File Upload canceled" %}",
            'failed': "{% trans "File Upload failed" %}"
        };

        var uploaded_files = [];
        {% if enable_upload_folder %}
        var new_dir_names = [];
        var dirs_to_update = [];
        {% endif %}

        popup.fileupload({
            fileInput: $('#upload-file input'),
            paramName: 'file',
            // customize it for 'done'
            getFilesFromResponse: function (data) {
                if (data.result) {
                    return data.result;
                }
            },
            autoUpload:true,
            {% if max_upload_file_size %}
            maxFileSize: {{ max_upload_file_size }}, // in bytes
            {% endif %}
            maxNumberOfFiles: 500,
            sequentialUploads: true
        })
        .bind('fileuploadadd', function(e, data) {
            popup.removeClass('hide');
            cancel_all_btn.removeClass('hide');
            close_icon.addClass('hide');

            var path = dirents.path;
            popup.fileupload('option', 'formData', {
                'parent_dir': path == '/' ? path : path + '/'
            });

            {% if enable_upload_folder %}
            // hide the upload menu
            if (!$('#upload-menu').hasClass('hide')) {
                $('#upload-menu').find('.item').removeAttr('style')
            .end().addClass('hide');
            }

            // when add folder, a subdirectory will be shown as '.'. rm it.
            var file = data.files[0];
            if (file.name == '.') {
                data.files.shift();
            }
            if (file.webkitRelativePath) { // for 'upload folder'
                file.relative_path = file.webkitRelativePath;
            }
            if (file.relativePath) { // for 'folder drag & drop'
                file.relative_path = file.relativePath + file.name;
            }
            {% endif %}
        })
        .bind('fileuploadstart', function() {
            fu_status.html(fu_status_.uploading);
        })
        .bind('fileuploadsubmit', function(e, data) {
            var _this = $(this);
            var file = data.files[0];
            // get url(token) for every file
            if (!file.error) {
                $.ajax({
                    url: '{% url 'get_file_op_url' repo.id %}?op_type=upload',
                    cache: false,
                    dataType: 'json',
                    success: function(ret) {
                        {% if enable_upload_folder %}
                        var file_path = file.relative_path,
                            r_path;
                        if (file_path) { // 'add folder'
                            r_path = file_path.substring(0, file_path.lastIndexOf('/') + 1);
                        }
                        var formData = popup.fileupload('option', 'formData');
                        formData.relative_path = r_path || '';
                        popup.fileupload('option', 'formData', formData);
                        {% endif %}

                        data.url = ret['url'];
                        data.jqXHR = _this.fileupload('send', data);
                    },
                    error: function() {
                        file.error = "{% trans "Failed to get upload url" %}";
                    }
                });
                return false;
            }
        })
        .bind('fileuploadprogressall', function (e, data) {
            total_progress.html(parseInt(data.loaded / data.total * 100, 10) + '% ' + '<span style="font-size:14px;color:#555;">(' + $(this).data('blueimp-fileupload')._formatBitrate(data.bitrate) + ')</span>').removeClass('hide');
            if (data.loaded > 0 && data.loaded == data.total) {
                saving_tip.show();
            }
        })
        .bind('fileuploaddone', function(e, data) {
            if (data.textStatus != 'success') {
                return;
            }
            var file = data.files[0];
            var file_path = file.relative_path;
            var file_uploaded = data.result[0]; // 'id', 'name', 'size'

            // for 'template_download' render
            file_uploaded.uploaded = true;
            if (file_path) {
                file_uploaded.relative_path = file_path.substring(0, file_path.lastIndexOf('/') + 1) + file_uploaded.name;
            }

            var path = dirents.path;
            path = path == '/' ? path : path + '/';
            if (data.formData.parent_dir != path) {
                return;
            }
            if (!file_path) {
                uploaded_files.push(file_uploaded);
                return;
            }
            {% if enable_upload_folder %}
            // for 'add folder'
            var dir_name = file_path.substring(0, file_path.indexOf('/'));
            var dir = dirents.where({'is_dir': true, 'obj_name': dir_name});
            if (dir.length > 0) { // 0 or 1
                if (dirs_to_update.indexOf(dir_name) == -1) {
                    dirs_to_update.push(dir_name);
                }
            } else {
                if (new_dir_names.indexOf(dir_name) == -1) {
                    new_dir_names.push(dir_name);
                }
            }
            {% endif %}
        })
        .bind('fileuploadstop', function () {
            cancel_all_btn.addClass('hide');
            close_icon.removeClass('hide');

            var path = dirents.path;
            path = path == '/' ? path : path + '/';
            if (popup.fileupload('option','formData').parent_dir != path) {
                return;
            }
            var now = parseInt(new Date().getTime()/1000);
            if (uploaded_files.length > 0) {
                var dirs = dirents.where({'is_dir':true});
                var last_dir = $($('.repo-file-list tr')[dirs.length]);
                $(uploaded_files).each(function(index, file) {
                    var new_dirent = dirents.add({
                        'is_file': true,
                        'obj_name': file.name,
                        'last_modified': now,
                        'file_size': filesizeformat(file.size, 1),
                        'obj_id': file.id,
                        'file_icon': 'file.png',
                        'last_update': "{% trans "Just now" %}",
                        'starred': false,
                        'sharelink': '',
                        'sharetoken': ''
                    }, {silent: true});
                    var view = new app.views.DirentView({model: new_dirent, collection: dirents});
                    last_dir.after(view.render().el);
                });
                uploaded_files = [];
            }
            if (new_dir_names.length > 0) {
                $(new_dir_names).each(function(index, new_name) {
                    var new_dirent = dirents.add({
                        'is_dir': true,
                        'obj_name': new_name,
                        'last_modified': now,
                        'last_update': "{% trans "Just now" %}",
                        'p_dpath': path + new_name,
                        'sharelink': '',
                        'sharetoken': '',
                        'uploadlink': '',
                        'uploadtoken': ''
                    }, {silent: true});
                    var view = new app.views.DirentView({model: new_dirent, collection: dirents});
                    $('.repo-file-list tr:first').after(view.render().el);
                });
                new_dir_names = [];
            }
            if (dirs_to_update.length > 0) {
                $(dirs_to_update).each(function(index, dir_name) {
                    var dir = dirents.where({'is_dir':true, 'obj_name':dir_name});
                    dir[0].set({
                        'last_modified': now,
                        'last_update': "{% trans "Just now" %}"
                    });
                });
                dirs_to_update = [];
            }
        })
        // after tpl has rendered
        .bind('fileuploadcompleted', function() { // 'done'
            if ($('.files .cancel', popup).length == 0) {
                saving_tip.hide();
                total_progress.addClass('hide');
                fu_status.html(fu_status_.complete);
            }
        })
        .bind('fileuploadfailed', function(e, data) { // 'fail'
            if ($('.files .cancel', popup).length == 0) {
                cancel_all_btn.addClass('hide');
                close_icon.removeClass('hide');
                total_progress.addClass('hide');
                saving_tip.hide();
                if (data.errorThrown == 'abort') { // 'cancel'
                    fu_status.html(fu_status_.canceled);
                } else { // 'error'
                    fu_status.html(fu_status_.failed);
                }
            }
        });

        // Enable iframe cross-domain access via redirect option:
        popup.fileupload(
            'option',
            'redirect',
            window.location.href.replace(/\/repo\/[-a-z0-9]{36}\/.*/, '{{MEDIA_URL}}cors/result.html?%s')
        );

        {% if enable_upload_folder %}
        if ('webkitdirectory' in $('#upload-file input[type="file"]')[0]) {
            $('#upload-file').find('input').remove().end().addClass('cspt');
            $('#upload-menu .item').click(function() {
                $('#upload-file-dialog').fileupload(
                    'option',
                    'fileInput',
                    $('input[type="file"]', $(this))
                );
            })
            .hover(
                function() {
                    $(this).css({'background':'#f3f3f3'});
                },
                function() {
                    $(this).css({'background':'transparent'});
                }
            );
            $('.repo-op').css({'position': 'relative'});
            $('#upload-file').click(function () {
                $('#upload-menu').toggleClass('hide');
            });
            $(document).click(function(e) {
                var target = e.target || event.srcElement;
                var closePopup = function(popup, popup_switch) {
                    if (!popup.hasClass('hide') && !popup.is(target) && !popup.find('*').is(target) && !popup_switch.is(target) && !popup_switch.find('*').is(target) ) {
                        popup.addClass('hide');
                    }
                };
                closePopup($('#upload-menu'), $('#upload-file'));
            });
        }
        {% endif %}
    });
});
// fold/unfold the dialog
$('#upload-file-dialog .fold-switch').click(function() {
    var popup = $('#upload-file-dialog');
    var full_ht = parseInt(popup.data('height'));
    var main_con = $('.fileupload-buttonbar, .table', popup);
    if (popup.height() == full_ht) {
        popup.height($('.hd', popup).outerHeight(true));
        main_con.addClass('hide');
    } else {
        popup.height(full_ht);
        main_con.removeClass('hide');
    }
});
$('#upload-file-dialog .close').click(function() {
    $('#upload-file-dialog').addClass('hide');
    $('#upload-file-dialog .files').empty();
});
</script>
{% endif %}
<script type="text/javascript">
// global var
var no_file_op_popup = true;
var popup_tr;

$(window).scroll(function() {
     app.libview.onWindowScroll();
});

// hide 'hidden-op' popup
$(document).click(function(e) {
    var target =  e.target || event.srcElement;
    if (!no_file_op_popup &&
        !$('.more-op-icon, .hidden-op').is(target) &&
        !$('.hidden-op').find('*').is(target)) {
        $('.hidden-op').addClass('hide');
        no_file_op_popup = true;
        if (!popup_tr.find('*').is(target)) {
            popup_tr.removeClass('hl').find('.repo-file-op').addClass('vh'); // clicked place: the first tr, place out of the table
            $('.repo-file-list tr:gt(0)').each(function() { // when other tr is clicked
                if ($(this).find('*').is(target)) {
                    $(this).addClass('hl').find('.repo-file-op').removeClass('vh');
                }
            });
        }
    }
});

function ajaxPost(params) { // params: {}
    var form = params.form,
        post_url = params.post_url,
        post_data = params.post_data,
        after_op_success = params.after_op_success,
        form_id = params.form_id;
    var submit_btn = form.children('[type="submit"]');
    disable(submit_btn);
    $.ajax({
        url: post_url,
        type: 'POST',
        dataType: 'json',
        beforeSend: prepareCSRFToken,
        data: post_data,
        success: function(data) {
            if (data['success']) {
                after_op_success(data);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            var err;
            if (xhr.responseText) {
                err = $.parseJSON(xhr.responseText).error;
            } else {
                err = "{% trans "Failed. Please check the network." %}";
            }
            apply_form_error(form_id, err);
            enable(submit_btn);
        }
    });
}
function setDirentsOpPos() {
    var dirents_op = $('#dirents-op');
    dirents_op.css({
        'left': $('#repo-file-list').offset().left - dirents_op.outerWidth(true) - 20,
        'top': $(window).height()/2
    });
}
// render jstree for current path
function render_jstree_for_cur_path() {
    var form = $('#mv-form'),
        file_tree = new FileTree(),
        container = $('#current-repo-dirs'),
        loading_tip = container.prev();

    var dirents = app.pages.lib.dirents;
    var cur_path = dirents.path;
    container.data('site_root', '{{SITE_ROOT}}');
    $.ajax({
        url: '{% url 'get_dirents' repo.id %}?path=' + e(cur_path) + '&dir_only=true&all_dir=true',
        cache: false,
        dataType: 'json',
        success: function(data) {
            var json_data = [];
            var repo_data = {
                'data': '{{ repo.props.name }}',
                'attr': {'repo_id': '{{ repo.props.id }}', 'root_node': true},
                'state': 'open'
            };

            var path_eles = cur_path.split('/');
            path_eles.pop();
            /* e.g.
             * path: '/xx/'
             * path_eles: ['', 'xx']
             * data: [["xxx", "xx", "test1022"], ["lkjj", "kjhkhi"]]
             * when no dir in '/', data will be [[]];
             */
            var len = data.length;
            var children = [];
            for (var i = len - 1; i > -1; i--) {
                children[i] = [];
                if (i == len - 1) {
                    for (var j = 0, len_i = data[i].length; j < len_i; j++) {
                        children[i].push({
                            'data': data[i][j],
                            'state': 'closed'
                        });
                    }
                } else {
                    for (var j = 0, len_i = data[i].length; j < len_i; j++) {
                        if (data[i][j] == path_eles[i+1]) {
                            children[i].push({
                                'data': data[i][j],
                                'state': 'open',
                                'children': children[i+1]
                            });
                        } else {
                            children[i].push({
                                'data': data[i][j],
                                'state': 'closed'
                            });
                        }
                    }
                }
            }
            if (children[0].length > 0) {
                $.extend(repo_data, {'children': children[0]});
            }
            json_data.push(repo_data);

            loading_tip.hide();
            file_tree.renderDirTree(container, form, json_data);
            container.removeClass('hide');
        },
        error: function() {
            var cur_repo = [{
                'data': '{{ repo.props.name }}',
                'attr': {'repo_id': '{{ repo.props.id }}', 'root_node': true},
                'state': 'closed'
            }];
            loading_tip.hide();
            file_tree.renderDirTree(container, form, cur_repo);
            container.removeClass('hide');
        }
    });
}
$('#mv-form').submit(function() {
    var dirents = app.pages.lib.dirents;
    var form = $(this),
        form_id = form.attr('id'),
        post_url = '', post_data = {},
        path = dirents.path,
        after_op_success;

        var dst_repo = $('[name="dst_repo"]', form).val(),
            dst_path = $('[name="dst_path"]', form).val(),
            op = $('[name="op"]', form).val(),
            obj_name = $('[name="obj_name"]', form).val(),
            obj_type = $('[name="obj_type"]', form).val(),
            op_obj = form.data('op_obj');

        if (!op_obj) { // for mv-dirents, cp-dirents
            return false;
        }

        if (!$.trim(dst_repo) || !$.trim(dst_path)) {
            $('.error', form).removeClass('hide');
            return false;
        }
        if (dst_repo == '{{repo.id }}' && (dst_path == path || (obj_type == 'dir' && dst_path == path + obj_name + '/'))) {
            $('.error', form).html("{% trans "Invalid destination path" %}").removeClass('hide');
            return false;
        }
        if (op == 'mv') {
            post_url = obj_type == 'dir' ? '{% url 'mv_dir' repo.id %}':'{% url 'mv_file' repo.id %}';
        } else {
            post_url = obj_type == 'dir' ? '{% url 'cp_dir' repo.id %}':'{% url 'cp_file' repo.id %}';
        }
        post_url += '?path=' + e(path) + '&obj_name=' + e(obj_name);
        post_data = {
            'dst_repo': dst_repo,
            'dst_path': dst_path
        };
        after_op_success = function(data) {
            $.modal.close();
            msg = data['msg'];
            if (!data['task_id']) { // no progress
                if (op=='mv') {
                    op_obj.remove();
                }
                feedback(msg, 'success');
            } else {
                var details = $('#mv-details'),
                    cancel_btn = $('#cancel-mv'),
                    other_info = $('#mv-other-info');
                cancel_btn.removeClass('hide');
                setTimeout(function () {
                    $('#mv-progress-popup').modal({containerCss: {
                        width: 300,
                        height: 150,
                        paddingTop: 50
                    }, focus:false});
                    var det_text = op == 'mv' ? "{% trans "Moving %(name)s" %}": "{% trans "Copying %(name)s" %}";
                    details.html(det_text.replace('%(name)s', trimFilename(obj_name, 20)));
                    $('#mv-progress').progressbar();
                    req_progress();
                }, 100);
                var req_progress = function () {
                    $.ajax({
                        url: '{% url "get_cp_progress" %}?task_id=' + e(data['task_id']),
                        dataType: 'json',
                        success: function(data) {
                            var bar = $('.ui-progressbar-value', $('#mv-progress'));
                            if (!data['failed'] && !data['canceled'] && !data['successful']) {
                                if (data['done'] == data['total']) {
                                    bar.css('width', '100%'); // 'done' and 'total' can be both 0
                                    details.addClass('vh');
                                    cancel_btn.addClass('hide');
                                    other_info.html("{% trans "Saving..." %}").removeClass('hide');
                                } else {
                                    bar.css('width', parseInt(data['done']/data['total']*100, 10) + '%');
                                }
                                bar.show();
                                setTimeout(req_progress, 1000);
                            } else if (data['successful']) {
                                $.modal.close();
                                if (op=='mv') {
                                    op_obj.remove();
                                }
                                feedback(msg, 'success');
                            } else { // failed or canceled
                                details.addClass('vh');
                                var other_msg = data['failed'] ? "{% trans "Failed." %}" : "{% trans "Canceled." %}";
                                other_info.html(other_msg).removeClass('hide');
                                cancel_btn.addClass('hide');
                                setTimeout(function () { $.modal.close(); }, 1000);
                            }
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            var error;
                            if (xhr.responseText) {
                                error = $.parseJSON(xhr.responseText).error;
                            } else {
                                error = "{% trans "Failed. Please check the network." %}";
                            }
                            details.addClass('vh')
                            other_info.html(error).removeClass('hide');
                            cancel_btn.addClass('hide');
                            setTimeout(function () { $.modal.close(); }, 1000);
                        }
                    });
                };
                cancel_btn.click(function() {
                    disable(cancel_btn);
                    $.ajax({
                        url: '{% url "cancel_cp" %}?task_id=' + e(data['task_id']),
                        dataType: 'json',
                        success: function(data) {
                            details.addClass('vh')
                            other_info.html("{% trans "Canceled." %}").removeClass('hide');
                            cancel_btn.addClass('hide');
                            setTimeout(function () {$.modal.close();}, 1000);
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            var error;
                            if (xhr.responseText) {
                                error = $.parseJSON(xhr.responseText).error;
                            } else {
                                error = "{% trans "Failed. Please check the network." %}";
                            }
                            other_info.html(error).removeClass('hide');
                            enable(cancel_btn);
                        }
                    });
                });
            }
        }

    ajaxPost({
        'form': form,
        'post_url': post_url,
        'post_data': post_data,
        'after_op_success': after_op_success,
        'form_id': form_id
    });
    return false;
});
$('#mv-dir-list .hd').click(function() {
    var span = $('span', $(this)),
        form = $('#mv-form'),
        loading_tip = $(this).next(),
        dir_tree_container = loading_tip.next().data('site_root', '{{SITE_ROOT}}'),
        file_tree = new FileTree();
    if (span.hasClass('icon-caret-right')) {
        span.attr('class','icon-caret-down');
        loading_tip.show();
        if (dir_tree_container.attr('id') == 'current-repo-dirs') {
            render_jstree_for_cur_path();
        } else {
            $.ajax({
                url: '{% url 'unenc_rw_repos' %}',
                cache: false,
                dataType: 'json',
                success: function(data) {
                    var other_repos = [];
                    for (var i = 0, len = data.length; i < len; i++) {
                        if (data[i].id != '{{repo.id}}') {
                        other_repos.push({
                            'data': data[i].name,
                            'attr': {'repo_id': data[i].id, 'root_node': true},
                            'state': 'closed'
                            });
                        }
                    }
                    loading_tip.hide();
                    file_tree.renderDirTree(dir_tree_container, form, other_repos);
                    dir_tree_container.removeClass('hide');
                }
            });
        }
    } else {
        span.attr('class','icon-caret-right');
        dir_tree_container.addClass('hide');
    }
});
$(function() {
    // for file private share
    $.getScript('{{ MEDIA_URL }}js/select2.min.js');
});
{% include "snippets/shared_link_js.html" %}
</script>
{% endblock %}
{% block app_page_script %}
<script type="text/javascript">
app.pages.lib = {
    config: {
        repo_id: '{{repo.id}}',
        urls: {
            get_lib_dirents: '{% url 'get_lib_dirents' repo.id %}',
            repo_unstar_file: '{% url 'repo_unstar_file' repo.id %}',
            repo_star_file: '{% url 'repo_star_file' repo.id %}',
            get_shared_link: '{% url 'get_shared_link' %}?repo_id={{ repo.id }}',
            get_shared_upload_link: '{% url 'get_shared_upload_link' %}?repo_id={{ repo.id }}',
            delete_dir: '{% url 'delete_dir' repo.id %}',
            delete_file: '{% url 'delete_file' repo.id %}',
            rename_dir: '{% url 'rename_dir' repo.id %}',
            rename_file: '{% url 'rename_file' repo.id %}',
            thumbnail_create: '{% url 'thumbnail_create' repo.id %}',
            new_dir: '{% url 'new_dir' repo.id %}',
            new_file: '{% url 'new_file' repo.id %}',
            delete_dirents: '{% url 'delete_dirents' repo.id %}',
            get_file_op_url: '{% url 'get_file_op_url' repo.id %}',
            mv_dirents: '{% url 'mv_dirents' repo.id %}',
            cp_dirents: '{% url 'cp_dirents' repo.id %}',
            mv_dir: '{% url 'mv_dir' repo.id %}',
            mv_file: '{% url 'mv_file' repo.id %}',
            cp_dir: '{% url 'cp_dir' repo.id %}',
            cp_file: '{% url 'cp_file' repo.id %}',
            get_cp_progress: '{% url "get_cp_progress" %}',
            cancel_cp: '{% url "cancel_cp" %}'
        },
        msgs: {
            successDel: "{% trans "Successfully deleted %(name)s" %}",
            renameDir: "{% trans "Rename Directory" %}",
            renameFile: "{% trans "Rename File" %}",
            required: "{% trans "It is required." %}",
            notRenamed: "{% trans "You have not renamed it." %}",
            justNow: "{% trans "Just now" %}"
        }
    }
};
</script>
{% include 'snippets/lib_tpl.html' %}
{% endblock %}
