{% extends "myhome_base.html" %}

{% load seahub_tags avatar_tags i18n upload_tags %}

{% block sub_title %}{{repo.name}} - {% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/select2.css?t=1393578720" />
<style type="text/css">
#footer { display:none; }
.repo-file-list-topbar .path { line-height:29px; }
#repo-latest-commit { margin:-5px 0 10px; }
.repo-op { margin-bottom:0; }
.repo-op .op-btn { padding:5px 8px; }
.dirent-op .download { margin-right:5px; }
.repo-file-list .dirent-name {
    width:350px;
}
.repo-file-list .dirent-size {
    width:135px;
}
.repo-file-list .dirent-update {
    width:142px;
}
.repo-file-list .dirent-op {
    width:200px;
}
</style>    
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="{{ MEDIA_URL}}js/html5shiv.js"></script><![endif]-->
{% endblock %}

{% block main_panel %}
    <div id="repo-top">
        <h2 class="hd">{{repo.props.name}}{% if user_perm == 'r' %} <span class="tip vam">({% trans "Read-Only" %})</span>{% endif %}</h2>
            <div id="repo-basic-info">
                <span class="desc" title="{{repo.props.desc}}">{{ repo.props.desc|truncatechars:25 }}</span>
                <span class="size split">{% trans 'Size: ' %}{{ repo_size|filesizeformat }}</span>
                <span class="split">
                    <a href="{% url 'seahub.views.repo_history' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/history.png" alt="" height="16" /><span class="vam">{% trans "History"%}</span></a>
                    {% if show_repo_settings %}
                    <a id="repo-setting-btn" href="{% url 'repo_settings' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/setting.png" alt="" /><span class="vam">{% trans "Settings" %}</span></a>
                    {% endif %}
                    {% if user_perm == 'rw' %}
                    <a id="recycle-btn" href="{% url 'repo_recycle_view' repo.id %}" class="normal"><img class="link-icon vam" src="{{ MEDIA_URL }}img/lib_trash.png" alt="" /><span class="vam">{% trans "Trash"%}</span></a>
                    {% endif %}
                </span>
            </div>
    </div>

    <div id="repo-file-list">
        <div class="repo-file-list-topbar">
            <p class="path fleft"></p>
            <div class="repo-op fright">
                {% if user_perm == 'rw' %}
                    {% if no_quota %}
                <button id="upload-file" class="op-btn">{% trans "Upload" %}</button>
                    {% else %}
                <div id="upload-file" class="op-btn upload-file-btn">
                    <span>{% trans "Upload"%}</span>
                    <input type="file" name="file" multiple />
                </div>
                {% if enable_upload_folder %}
                <ul id="upload-menu" class="hide">
                    <li class="item">
                    <span>{% trans "Upload Files" %}</span>
                    <input type="file" name="file" multiple />
                    </li>
                    <li class="item">
                    <span>{% trans "Upload Folder" %}</span>
                    <input type="file" name="file" multiple directory webkitdirectory />
                    </li>
                </ul>
                {% endif %}
                    {% endif %}
                <button id="add-new-dir" class="op-btn">{% trans "New Directory" %}</button>
                <button id="add-new-file" class="op-btn">{% trans "New File" %}</button>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        <table class="repo-file-list">
            <tr>
                <th class="select">
                    <span class="checkbox"><input type="checkbox" class="checkbox-orig" /></span>
                </th>
                <th class="star"></th>
                <th class="dirent-icon"></th>
                <th><span class="dirent-name">{% trans "Name"%} <span id="by-name" class="icon-caret-up cspt"></span></span></th>
                <th class="dirent-size">{% trans "Size"%}</th>
                <th class="dirent-update">{% trans "Last Update" %} <span id="by-time" class="icon-caret-down cspt"></span></th>
                <th class="dirent-op">{% trans "Operations"%}</th>
            </tr>
        </table>
        <img class="loading-tip" src="{{MEDIA_URL}}img/loading-icon.gif" alt="{% trans 'Loading...' %}" />
        {% if user_perm == 'rw' %}
        <div id="dirents-op" class="hide"> {# should be in #repo-file-list #}
            <button id="del-dirents" title="{% trans "Delete" %}" class="op-icon-btn"><span class="icon-trash"></span></button>
            <button id="mv-dirents" title="{% trans "Move" %}" class="op-icon-btn"><span class="icon-move"></span></button>
            <button id="cp-dirents" title="{% trans "Copy" %}" class="op-icon-btn"><span class="icon-copy"></span></button>
        </div>
        {% endif %}
    </div>

    {% include "snippets/lib_op_popups.html" %}
{% endblock %}

{% block extra_script %}
{% include "snippets/lib_script.html" %}
<script type="text/javascript">
function setDirentsOpPos() {
    var dirents_op = $('#dirents-op');
    dirents_op.css({
        'left': $('#repo-file-list').offset().left - dirents_op.outerWidth(true) - 20,
        'top': $(window).height()/2
    });
}
</script>
{% endblock %}
{% block app_page_script %}
{% include 'snippets/lib_tpl.html' %}
{% endblock %}
